body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0); }

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9; 
    border: 2px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 80%; 
    margin: 0 auto; 
}

#options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

#submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 24px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

#submit-button:hover {
    background-color: #0056b3;
    transform : scale(1.05);
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}



.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

